.mui-content { height: 100%; background: #fff; padding: 0 25px 10px; }

.logo { padding: 70px 35px 35px; }
.logo dt { width: 60px; height: 60px; margin-bottom: 15px; }
.logo dd { color: #fe6246; font-size: 16px; }

.mui-input-group:before { height: 0; }

.mui-input-row { margin-bottom: 15px; }
.mui-input-row label { padding: 0; width: 50px; height: 100%; position: relative; padding-left: 15px; }
.mui-input-row label img { width: 20px; height: 20px; }
.mui-input-row label:after { content: ""; width: 1px; height: 20px; position: absolute; background: #fe6246; right: 0; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); }
.mui-input-row input { font-size: 16px; width: 75% !important; }

.mui-input-group:after { height: 0; }

.mui-input-group .mui-input-row:after { background: #fe6246; }

.login-btn { width: 100%; height: 40px; margin-top: 30px; border: none; box-shadow: none; background: #fe6246; font-size: 16px; }

.rf { font-size: 14px; color: #666; margin: 18px 0 30px; }
.rf a:first-child { border-right: 1px solid #eee; }
.rf a { height: 20px; padding: 0 25px; color: #666; }

.guang { width: 125px; height: 40px; margin: 0 auto; border: 1px solid #fe6246; border-radius: 40px; color: #fe6246; padding: 0; }

.mui-table-view:before { height: 0; }

.mui-table-view:after { height: 0; }

.mui-table-view-cell:after { height: 0; }

.login-way { margin-top: 60px; }
.login-way .title { margin-bottom: 10px; }
.login-way .title i { display: inline-block; width: 65px; height: 1px; background: #eee; }
.login-way .title span { margin: 0 15px; }
.login-way li { padding: 0; }
.login-way li img { width: 44px; height: 44px; margin-bottom: 10px; }
.login-way li p { font-size: 12px; }

.mui-btn-danger:active { background: transparent !important; color: #fe6246 !important; }

.mui-table-view-cell:active { background: transparent !important; }
