.bar-gongqiu { background: url(../img/gongqiu.png) no-repeat center center; background-size: 21px 21px; }

.bar-redian { background: url(../img/redian.png) no-repeat center center; background-size: 21px 21px; }

.bar-tongxun { background: url(../img/tongxun.png) no-repeat center center; background-size: 21px 21px; }

.bar-my { background: url(../img/wode_pre.png) no-repeat center center; background-size: 21px 21px; }

.mui-active { color: #F98A17 !important; }

.mui-active { color: #F98A17 !important; }

.mui-content { padding-bottom: 44px; }

.mui-table-view:before { height: 0; }

.head-pic { margin: 10px 0 !important; box-shadow: none !important; }
.head-pic li { box-shadow: none !important; }
.head-pic a { margin: 5px -15px !important; }
.head-pic .mui-media-object { max-width: 44px; height: 44px; }
.head-pic .mui-media-body { height: 44px; }
.head-pic .mui-media-body p { height: 100% !important; padding-right: 20px; }
.head-pic .mui-media-body p em { display: inline-block; width: 20px; height: 20px; margin-right: 10px; }
.head-pic .mui-media-body p b { display: inline-block; width: 25px; height: 25px; }

.mui-table-view:after { height: 0 !important; }

.list { background: #f1f1f1; }
.list li { background: #fff; }
.list li:last-child { margin-top: 10px !important; }
.list .mui-table-view-cell:after { left: 0; }
.list p { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; padding: 5px 0; }
.list p em { display: inline-block; width: 20px; height: 20px; margin-right: 20px; }
.list .black-name:after { height: 0 !important; }

.mui-popover .mui-popover-arrow:after { width: 0 !important; }

#popover { width: 270px; height: 250PX; top: 50% !important; -webkit-transform: translateY(-50%) !important; -ms-transform: translateY(-50%) !important; transform: translateY(-50%) !important; }
#popover dl { background: #fff; border-radius: 10px; }
#popover dl dt { width: 100%; height: 50px; border-bottom: 1px solid #f1f1f1; }
#popover dl dt i { display: inline-block; width: 20px; height: 20px; margin-right: 5px; }
#popover dl dd { width: 100%; }
#popover dl dd textarea { width: 100%; height: 100px; border: none; overflow-y: auto !important; }
#popover dl dd button { width: 80%; padding: 10px 0; margin: 10px auto; }

#popover-out { width: 270px; top: 50% !important; -webkit-transform: translateY(-50%) !important; -ms-transform: translateY(-50%) !important; transform: translateY(-50%) !important; overflow: hidden; }
#popover-out dl { width: 100%; overflow: hidden; }
#popover-out dl dt { width: 100%; height: 100px; background: #fff; }
#popover-out dl dd { width: 100%; }
#popover-out dl dd button { width: 50%; height: 100%; margin: 0 !important; border-radius: 0; border: transparent !important; text-align: center; }
#popover-out dl dd .quxiao { background: #f1f1f1; color: #666; }
#popover-out dl dd .queren { background: #FE6246; }
