@charset "UTF-8";
.mui-bar-nav{
    border-bottom: 1px solid #ccc;
}
.mui-content{
    background: #fff;
//  padding:  10px;
}
.message{
    padding: 15px 10px;
}
dl{
    align-items: flex-start !important;
    font-size: 20px;
    
    dt{
        width: 32px;
        height: 32px;
        margin-right:20px ;
    }
    dd{
        width: 200px;
        border-radius: 5px;
        .name{
            display: inline-block;
            margin-bottom: 10px;
        }
        div{
            box-shadow: 0 0 10px 0 #ccc;
            p{
                line-height: 2;
                letter-spacing: 2px;
                padding: 10px;
                background: #eee;
                font-size: 18px;
                position: relative;
            }   
            p:after{
                content: "";
                width: 0;
                height: 0;
                border: 20px solid transparent;
                border-right-color:#eee ;
                position: absolute;
                top: 10px;
                left: -32px;
            } 
            h4{
                height: 40px;
                font-size: 20px;
                background: #fff;
                padding: 0 10px;
                font-weight: normal;
                em{
                    display: inline-block;
                    width: 20px;
                    height: 20px;
                    margin-right: 20px;
                }
                
            }
        }
    }
    
}
