.mui-table-view:before { height: 0 !important; }

.mui-table-view-cell:after { height: 0 !important; }

.head-pic { margin: 10px 0 !important; box-shadow: none !important; }
.head-pic li { box-shadow: none !important; }
.head-pic a { margin: 5px -15px !important; }
.head-pic .mui-media-object { max-width: 44px; height: 44px; }
.head-pic .mui-media-body { height: 44px; }
.head-pic .mui-media-body p { height: 100% !important; padding-right: 20px; }
.head-pic .mui-media-body p em { display: inline-block; width: 20px; height: 20px; margin-right: 10px; }
.head-pic .mui-media-body p b { display: inline-block; width: 25px; height: 25px; }

.mui-table-view:after { height: 0 !important; }

.list { background: #f1f1f1; }
.list li { background: #fff; border-bottom: 1px solid #f1f1f1; }
.list .mui-table-view-cell:after { left: 0; }
.list p { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; padding: 5px 0; }
.list p em { display: inline-block; width: 20px; height: 20px; margin-right: 20px; }
.list .modify:after { height: 0 !important; }

.mui-popover .mui-popover-arrow:after { width: 0 !important; }

.add-friend { width: 90%; margin: 40px auto; background: #FE6246; color: #fff; border: none; outline: 0 none; }
